@import "tailwindcss";

:root {
    --primary: #f5e800;
    --dash-blue: #1c64f2;
    --background: #ffffff;
    --foreground: #f9fafb;
    --card: #ffffff;
    --card-foreground: #000000;
    --popover: #ffffff;
    --popover-foreground: #000000;
    --primary-foreground: #000000;
    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;
    --muted: #f8fafc;
    --muted-foreground: #64748b;
    --accent: #f1f5f9;
    --accent-foreground: #0f172a;
    --destructive: #ef4444;
    --destructive-foreground: #fef2f2;
    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #000000;
    --radius: 0.5rem;
}

.dark {
    --background: #0a0a0a;
    --foreground: #ededed;
    --card: #0a0a0a;
    --card-foreground: #ededed;
    --popover: #0a0a0a;
    --popover-foreground: #ededed;
    --primary-foreground: #000000;
    --secondary: #1a1a1a;
    --secondary-foreground: #ededed;
    --muted: #1a1a1a;
    --muted-foreground: #a1a1aa;
    --accent: #1a1a1a;
    --accent-foreground: #ededed;
    --destructive: #7f1d1d;
    --destructive-foreground: #fef2f2;
    --border: #27272a;
    --input: #27272a;
    --ring: #ededed;
}

@theme inline {
    --color-primary: var(--primary);
    --color-dash-blue: var(--dash-blue);
    --font-poppins: var(--font-poppins);
    --color-foreground: var(--foreground);
    --color-destructive: var(--destructive);
}

body {
    @apply !text-foreground;
}

.scrollbar-hide {
    scrollbar-width: none;
}
